/*de body word hier aangepast*/
body
{
/*achtergrond word een gif van een hele blije gibby*/
	background-image: url("../Plaatjes/alienveld.jpg");
/*alle texten worden naar het midden verplaatst*/
	text-align: center;
	color: white;
}
/*aanpassingen aan alle koppen*/
h1,h2,h3,h4,h5,h6
{
/*maakt de ruimte tussen leters 3 pixels groter*/
	letter-spacing: 3px;
/*text grote van de kop*/
	font size: 80px;
}
img {
	max-height: 400px;
	width: auto;
}


.top {
         width:100%;
		 height: 110px;
		 text-align: center;
		 background-color: black;
		 color: white;

}

.nav ul {
			text-align: center;
			padding: 10px 20px;
}

.nav li{
  display:inline-block;

}



.nav a{

    color: white;
    background-color: black;
    padding: 10px 20px;
    border: 2px solid black;
	border-radius: 16px;
	text-decoration: none;


}


li a:hover {
  background-color:SlateGray;
       color: #fff;

}

h2 { top:0px;
     background-color: SlateGray;

}

.center2 {
  margin-left: auto;
  margin-right: auto;
}

.yolo {
	color: #2AB5F9;
	
}
